body {
  width: 100%;
  height: 100vh;
  position: static;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #d8d4cb;
  margin-bottom: 70px;

}

iframe{
  width: 100%;
  height: 32%;
  border: 0;
  background-color: #d8d4cb;
}

header h1 {
  font-size: 24px;
  font-weight: 700;
}

header nav ul {
  list-style: none;
  display: block;
}

header nav ul li {
  margin-left: 20px;
}

#profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  margin-right: auto;
}

#login-btn {
  margin-left: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #007BFF;
  color: #fff;
  cursor: pointer;
}

.content {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center; 
  /* height: calc(100vh - 80px);  */
  
}


#sla {
  width: 350px; /* Defina o tamanho desejado */
  height: 400px; /* Mesmo tamanho para altura */
  background: #B74141;
  border: 2px solid #002B5B;
  padding: 20px; /* Ajuste o padding se necessário */
  box-sizing: border-box; /* Isso evita que o padding adicione à largura/altura total */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 15px;
}

#sla > span {
  font-size: 16px;
  font-weight: bold;
}

#outraDiv {
  width: 550px; /* Tamanho desejado */
  height: 400px;
  background: #d8d4cb; /* Cor diferente para distinguir */
  border: 2px solid #002B5B;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#outraDiv h1{
  margin-top: 35px;
  /* color: #002B5B; */
  color: #002B5B;
 

}
#login-cad{
  margin-top: 50px;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 8px;
  background: #B74141;
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
#login-cad a{
 color: #fff;
 text-decoration: none;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* max-width: 800px;
  margin: 20px auto;
  width: 100%; */
  max-width: 800px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.input-row {
  width: 45%;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #B74141;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.campo{
  border: 2px solid #f5f5f5;
  background-color: #fff;
  height: 50%;
  border-radius: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; 
  border: 2px solid #fff;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  
}


@media screen and (min-width: 1370px) {
  /* Estilos CSS para telas maiores que 1200 pixels de largura */
 
iframe{
  width: 100%;
  height: 25%;
  border: 0;
  background-color: #d8d4cb;
}

body{
  margin-bottom: 0px;
}
}